azurite_data
.env.local
azurite_data_*
azurite_data_*/
text.txt
src/ci-agent/venv
src/co-agent/co-agent
src/ic-agent
IaC/terraform.tfvars
IaC/.terraform
IaC/terraform.tfstate
IaC/test
.env.hybrid
IaC/.terraform.lock.hcl
IaC/terraform.tfstate.backup
.DS_Store
IaC/.DS_Store
IaC-1/.terraform.tfstate.lock.info
IaC-1/terraform.tfstate
IaC-1/terraform.tfstate.backup
IaC-1/.terraform/
IaC-2/.terraform
IaC-2/terraform.tfstate
IaC-2/terraform.tfstate.backup
IaC-2/.terraform
.terraform/
*.tfstate
*.backup
*.tfstate.backup
test.jtl
jmeter.log
Thread Group - 100.jmx
testplan_v1.jmx
test_test.jmx
test_test_v1.2.jmx
Test_test_v1.1.jmx
main_test_v1.jmx
log.jtl
load_test_6.jmx
load_test_6_2.jmx
load_test_6_1.jmx
load_test_5.jmx
load_test_5_1.jmx
ci-agent.tf
Dockerfile
bericht
IaC-0
IaC-2/temp.json